.consultation {
    min-height: 680px;
    padding: 100px 0px 92px 0px;
    background: url('../image/bg/bg2.jpg') center (center/cover) no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        max-width: 426px;
    }
    .error {
        border: 1px solid red;
        text-align: center;
    }

    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}